language: android
android:
  components:
  - tools
  - build-tools-24.0.2
  - android-24
  - extra-android-m2repository
  - extra-android-support
before_install:
- chmod +x gradlew
script:
- "./gradlew assembleRelease"
